.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: radial-gradient(ellipse 80% 50% at 50% -20%, hsl(var(--primary) / 0.1), transparent);
}

.background > div {
  position: absolute;
  border-radius: 50%;
  background-color: hsl(var(--primary));
  opacity: 0.1;
  filter: blur(100px);
  animation: move 20s infinite alternate ease-in-out;
  will-change: transform;
}

.shape1 {
  width: 400px;
  height: 400px;
  top: -10%;
  left: -10%;
  animation-duration: 25s;
}

.shape2 {
  width: 500px;
  height: 500px;
  bottom: -20%;
  right: -10%;
  animation-duration: 22s;
}

.shape3 {
  width: 300px;
  height: 300px;
  bottom: 30%;
  left: 15%;
  animation-duration: 28s;
  animation-delay: -5s;
}

.shape4 {
    width: 350px;
    height: 350px;
    top: 20%;
    right: 20%;
    animation-duration: 24s;
    animation-delay: -10s;
}

.shape5 {
  width: 250px;
  height: 250px;
  top: 50%;
  left: 40%;
  animation-duration: 30s;
  animation-delay: -8s;
  background-color: hsl(180, 63%, 59%);
}


@keyframes move {
  from {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
  to {
    transform: translate(var(--tx, 100px), var(--ty, 50px)) scale(var(--s, 1.2)) rotate(var(--r, 20deg));
  }
}
